  .card img{
    height: 200px;
    object-fit: contain;
  }
  .carousel-item img{
    height: 500px;
    object-fit: fill;
  }
  .nav-link:hover{
    text-decoration: underline;
    color: green;
  }
 